/*stylesheet for page*/

* {
	font-family: Verdana, Geneva, sans-serif;	
}
#lsb {
	position: fixed;
	height:100%;
	width: 250px;
	border: 2px solid red;
}

.main{
	position: relative;
	margin-left: 250px;
	border: 2px solid blue;
	height: 100%;
}

#foot {
	position: absolute;
	margin-left: 250px;
	height: 40px;
	clear: both;
	border: 2px solid black;
}

#avatar {
	width: 100px;
	border-radius: 10%;
}
