<!DOCTYPE html>
<html>
        <head>
		<title>{{page.title}}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="/font-awesome-4.5.0/css/font-awesome.min.css">

        </head>

        <body>
                <div id="lsb"> <!--lsb = left sidebar -->
                        <img id="avatar" src="/pictures/fotoatelier1ed.jpg">
                        <h3 id="name">Matej Pribiš</h3>
                        <h3 id="uni">MD Student at Charles University in Prague</h3>
                        <br></br>
                        <ul>
				<li><a href="/index.html"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a></li>
				<li><a href="/index.html"><i class="fa fa-eye fa-fw"></i>&nbsp; About</a></li>
				<li><a href="/blog"><i class="fa fa-pencil-square-o fa-fw"></i>&nbsp; Blog</a></li>
				<li><a href="/cv"><i class="fa fa-trophy fa-fw"></i>&nbsp; My CV</a></li>
                        </ul>
                </div>
                	<div class="main">
			{{ content }}
     			</div>
                <div id="foot">
			<a href="mailto:matejpribis@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>
			<a href="https://cz.linkedin.com/in/pribism"><i class="fa fa-linkedin fa-2x"></i></a>
			<a href="https://www.facebook.com/matej.pribis"><i class="fa fa-facebook fa-2x"></i></a>

                </div>
        </body>
</html>


